@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
}

html {
    scrollbar-width: none;
}

.text-btn {
    @apply hover:opacity-60 transition-colors duration-200
}

.content-body {
    @apply max-w-6xl mx-auto px-8
}

/* todo */
.text-size-color {
    @apply text-red-500 sm:text-orange-500 md:text-yellow-500 lg:text-green-500 xl:text-blue-500 2xl:text-purple-500
}