@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
}

html {
    scrollbar-width: none;
}

.text-btn {
    @apply hover:opacity-60 transition-colors duration-200
}

.content-body {
    @apply max-w-6xl mx-auto px-8 text-textContent-light dark:text-textContent-dark leading-relaxed tracking-wide
}

.highlight-color {
    @apply text-red-600 sm:text-orange-600 md:text-yellow-600 lg:text-green-600 xl:text-blue-600 2xl:text-purple-600 dark:text-red-400 dark:sm:text-orange-400 dark:md:text-yellow-400 dark:lg:text-green-400 dark:xl:text-blue-400 dark:2xl:text-purple-400
}