@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
}

html {
    scrollbar-width: none;
}

.text-btn {
    @apply hover:opacity-60 transition-colors duration-200
}

.content-body {
    @apply max-w-6xl mx-auto px-8 text-textContent-light dark:text-textContent-dark leading-relaxed tracking-wide
}

.highlight-color {
    @apply text-red-500 sm:text-orange-500 md:text-yellow-500 lg:text-green-600 xl:text-blue-600 2xl:text-purple-600 dark:text-red-300 dark:sm:text-orange-300 dark:md:text-yellow-200 dark:lg:text-green-300 dark:xl:text-blue-300 dark:2xl:text-purple-300
}

.theme-btn {
    @apply rounded-full text-textSecondary-light hover:text-textPrimary-light dark:text-textSecondary-dark dark:hover:text-textPrimary-dark p-2 text-sm flex flex-row justify-center items-center gap-4 md:block md:gap-0 basis-1/3 font-sans
}

.theme-btn.active {
    @apply text-textPrimary-light dark:text-textPrimary-dark bg-border-light dark:bg-border-dark cursor-default
}